# Binaries
**/bin/
!vender/premake/bin/
bin-int/
Intermediates/

# Hazel files
*.log
*.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Hazel/vender/VulkanSDK
Hazel-Editor/assets/cache
Sandbox/assets/cache
scripts/__pycache__