# Binaries
**/bin/
!vender/premake/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Hazel/vender/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__